<ng-container *ngIf="styleConfigured==='oncology360', else varian">

</ng-container>

<ng-template #varian>
  <div class="row header-color">
    <div class="col-md-3 offset-1">
      <ul class="link">
        <li>
          <span class="globe-icon">
            <i class="fa fa-globe"></i>
          </span>
          <a href="https://www.varian.com/" target="_blank" class="varian-link">
            <i class="fa fa-external-link"></i>&nbsp;&nbsp;Varian.com</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-2">
    </div>
  </div>
</ng-template>
