.search-drop-down {
  position: absolute;
  width: auto;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1;
  background-color: #F6F6F6; // font-family: sans-serif;
  opacity: 0.98;
  border: 1px solid black;
}

.search-results {
  padding: 10px;
  display: inline-block;
}

.search-bar {
  text-indent: 5px !important;
  box-sizing: border-box;
  background-color: white;
}

.search-results:hover {
  background: #707070;
}

.has-error .txt-error-border {
  border-color: #fc0202;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  border-width: thin;
  color: #fc0202;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.select {
  border: none;
  border-bottom: solid 1px #e7e8e9;
  border-radius: 0%;
}

.select:focus {
  box-shadow: none;
  border-bottom: solid 1px #e7e8e9;
}
