.info-box {
  border: 1px solid #DCDADF;
  margin-top: 18px;
  margin-bottom: 3%;
  margin-left: 0%;
  margin-right: 2.9%;
  min-height: 154px;

}

.info-box span {
  color: #666666;
}

.info-box .info-box-header {
  margin: 5px;
  border-bottom: 1px solid #DCDADF;
}

.info-box .info-box-value {
  margin: 0px -10px;
}

.info-box .target-info-box-header {
  margin: 10px;
  border-bottom: 1px solid #999999;
  margin-left: 5%;
}

.white-space-group>.row {
  overflow-x: auto;
  white-space: nowrap;
}

.white-space-group>.row>.col-sm-3 {
  display: inline-block;
  float: none;
}

.phase {
  width: 101.1%;
}

.phase-boxes {
  padding-left: 0px;
  padding-right: 0px;
  max-width: 24.97%;
}

.padding-15px {
  padding-right: 15px;
}

.background-white {
  background-color: white;
}

.margin-left-right {
  margin-left: -10px;
}

.padding-right-15px {
  padding-right: 15px;
}

.color-#394a59 {
  color: #394a59;
}


.color-#8195a7 {
  color: #8195a7;
}
